*
  debug(cyan)

.masthead


  &__container
    //

  &__logo
    display table-cell
    text-align left
    vertical-align middle
    width 25%


      img
        //

  &__utilities
    debug(green)
    display table-cell
    text-align right
    width 75%

  &__minor-nav
    text-align right

  &__item
    display inline-block

  &__link
    //

  // Search Form
  &__search
    display: inline-block

  &__input
      border: 1px solid cloud
      color: $blue
      padding: .5rem

  &__button
      background-color: green
      border-radius: 0
      border: none
      height: 36px
      padding: 0 .5rem
      vertical-align: bottom
      width: inherit
