.masthead
  padding 1rem 0

  &__container
    //

  &__logo
    display table-cell
    text-align left
    vertical-align middle
    width 25%

  &__home-link
    display block

  &__utilities
    display table-cell
    text-align right
    width 75%

  // Minor right-hand nav
  &__minor-nav
    text-align right

  &__item
    display inline-block

  &__link
    color graphite
    margin-left 1rem

    &:hover
      color green

  // Search Form inside minor nav
  &__search
    display inline-block

  &__fieldbox
    border 1px solid graphite
    display table
    width 100%

  &__input
    border none
    color green
    display table-cell
    padding 0 .5rem
    text-align left

    &:focus
      outline: none

  &__button
    display table-cell
    background-color green
    border-radius 0
    border none
    padding 0 .25rem
    text-align right
    vertical-align middle

    &:hover
      background-color pine
