doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    //- This 'block' is used to access Title and Meta Descriptions on unique pages
    block seo
  
    each font in config.fonts
      link(href="#{font}", rel="stylesheet", type="text/css")

    link(rel='stylesheet', type='text/css', href='style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //- script(src='js/global.js')
      
    include ../inc/favicons
        
  body(class= page)
    
    block content
            
    include ../inc/footer

    include ../inc/scripts
